<script setup lang="ts">
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
import { ref } from "vue";
let count = ref(0);

function increase() {
  if (count.value >= 0) {
    count.value += 1;
  }
}

function decrease() {
  if (count.value > 0) {
    count.value -= 1;
  }
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <FirstComponent></FirstComponent>
      </v-col>
      <v-col>
        <SecondComponent></SecondComponent>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
