<script lang="ts" setup>
import { ref } from "vue";
let num = 0;
let input = ref(num);
</script>

<template>
  <v-col cols="12">
    <v-text-field
      v-model.number="input"
      label="Please input number"
      :rules="[(v) => !!v || 'Number is not empty!!']"
      type="number"
    >
    </v-text-field>
  </v-col>
  <v-row>
    <v-col cols="12">
      <v-row>
        <v-col v-for="i in input" :key="i" cols="1">{{ i }}</v-col>
      </v-row>
    </v-col>
  </v-row>
</template>
