<script lang="ts" setup>
import { ref } from "vue";
const img = ref("../../feeling_imgs/smile.png");
const text = ref("Smile");

function Angry() {
  text.value = "Angry";
  img.value = "@/../feeling_imgs/angry.png";
}

function Cute() {
  text.value = "Cute";
  img.value = "@/../feeling_imgs/cute.png";
}

function Excited() {
  text.value = "Excited";
  img.value = "@/../feeling_imgs/excited.png";
}

function Pain() {
  text.value = "Pain";
  img.value = "@/../feeling_imgs/pain.png";
}

function Shocked() {
  text.value = "Shocked";
  img.value = "@/../feeling_imgs/shocked.png";
}

function Smile() {
  text.value = "Smile";
  img.value = "@/../feeling_imgs/smile.png";
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-container>
          <v-img
            class="justify-center"
            style="height: 500px; width: 500px"
            :src="img"
          ></v-img>
        </v-container>
      </v-col>
      <v-col cols="6">
        <v-row class="mt-10" justify="center">
          <div style="font-size: 40px">{{ text }}</div>
        </v-row>
        <v-row class="mt-10" justify="center">
          <v-btn width="500px" @click="Angry">Angry</v-btn>
        </v-row>
        <v-row class="mt-10" justify="center">
          <v-btn width="500px" @click="Cute">CUTE</v-btn>
        </v-row>
        <v-row class="mt-10" justify="center">
          <v-btn width="500px" @click="Excited">Exited</v-btn>
        </v-row>
        <v-row class="mt-10" justify="center">
          <v-btn width="500px" @click="Pain">PAIN</v-btn>
        </v-row>
        <v-row class="mt-10" justify="center">
          <v-btn width="500px" @click="Shocked">SHOCKED</v-btn>
        </v-row>
        <v-row class="mt-10" justify="center">
          <v-btn width="500px" @click="Smile">SMILE</v-btn>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.v-btn:focus {
  background-color: yellow;
}
</style>
