<script lang="ts" setup>
import { ref, computed } from "vue";

interface Product {
  id: number;
  name: string;
  price: number;
}

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

const productsList = ref<Product[]>([]);
const addProducts = (product: Product) => {
  productsList.value.push(product);
};

const total = computed(() => {
  let sum = 0;
  for (const p of productsList.value) {
    sum = sum + p.price;
  }
  return sum;
});
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-container style="height: 80vh; overflow-y: scroll">
          <v-row>
            <v-col cols="12" md="4" v-for="item of products" :key="item.id">
              <v-card height="125px">
                <v-card-title style="text-align: center">
                  {{ item.name }}</v-card-title
                >

                <v-card-subtitle style="text-align: center; font-size: 16px">
                  {{ item.price }}</v-card-subtitle
                >

                <v-card-actions class="justify-center">
                  <v-btn elevation="2" @click="addProducts(item)"> ADD </v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="6">
        <v-row>
          <v-container style="height: 80vh; overflow-y: auto">
            <v-col cols="12">
              <v-table>
                <thead>
                  <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if="productsList.length === 0">
                    <td colspan="3" class="text-center">No Data</td>
                  </tr>
                  <tr v-for="(product, index) of productsList" :key="index">
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                  </tr>
                </tbody>
              </v-table>
            </v-col>
          </v-container>
        </v-row>
        <v-row>
          <span class="text-h4">Sum: {{ total }}</span>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>
