<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const useCount = useCounterStore();
const increment = (): void => {
  useCount.increment();
};
</script>
<template>
  <v-container>
    <v-row>
      <p style="font-size: 20px">First Component</p>
    </v-row>
    <v-row>
      <p style="font-size: 18px">{{ useCount.count }}</p>
    </v-row>
    <v-row>
      <v-btn @click="increment()">INCREMENT</v-btn>
    </v-row>
  </v-container>
</template>
