<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const useCount = useCounterStore();
const decrease = (): void => {
  useCount.decrease();
};
</script>
<template>
  <v-container>
    <v-row>
      <p style="font-size: 20px">Second Component</p>
    </v-row>
    <v-row>
      <p style="font-size: 18px">{{ useCount.doubleCount }}</p>
    </v-row>
    <v-row>
      <v-btn @click="decrease()">DECREASE</v-btn>
    </v-row>
  </v-container>
</template>
